<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<HTML><HEAD><TITLE>Chico Digital Web Tool Editor</TITLE>
<META content="text/html; charset=windows-1252" http-equiv=Content-Type>
<LINK href="<!-- INSERT_TEXT=tool_style -->" rel=stylesheet>

</HEAD>
<BODY>
<form method=post action="<!-- INSERT_TEXT=self_URL -->">
<HR>
<TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
<TBODY>
<TR><TD COLSPAN=2>

      <TABLE border=0 class=outersidebar>
      <TBODY>
      <TR>
      <TD class=bordercell vAlign=top>

              <TABLE border=2 cellPadding=5 cellSpacing=0 width="100%">
              <TBODY><TR>
              <TD class=titlecell width="100%">
              <b><FONT size="+2"><!-- INSERT_TEXT=title --></font></b>
              </TD>
              </TR></TABLE>

       </TD></TR></TBODY></TABLE>
</TD>
</TR>
<TR>
<TD vAlign=top>

<!-- start -->

      <TABLE border=0 class=outersidebar>
      <TBODY>
      <TR>
      <TD class=bordercell vAlign=top>

            <TABLE border=0 cellSpacing=3 class=middlesidebar>
            <TBODY>
            <TR>
            <TD class=titlecell vAlign=top>

                  <TABLE border=0 cellPadding=0 cellSpacing=3 class=innersidebar>
                  <TBODY>
                  <TR>
                  <TD colSpan=2><B>
                        Links On This Page &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                        </B></TD>
                    </TR>
                    <TR><TD></TD><TD>
<br>
                    <!-- INSERT_TEXT=link_list -->
<br>
                    </TD></TR>

                    <TR><TD></TD><TD>
                    <b>Create a New Page:</b><br>
                    <font size="-1">enter page title / name of the link</font>
                    </TD></TR>
                    <TR><TD></TD><TD>
                    <input type="text" size=25 name="newPageName">
                    </TD></TR>


                    <TR><TD></TD><TD>
                    <input type="submit" name="submit" value="Create Page">
              </TD></TR></TBODY></TABLE>
       </TD></TR></TBODY></TABLE>
</TD></TR></TBODY></TABLE>


      <TABLE border=0 class=outersidebar>
            <TBODY>
            <TR>
            <TD class=bordercell vAlign=top>

              <TABLE border=0 cellSpacing=3 class=middlesidebar>
              <TBODY>
              <TR>
              <TD class=titlecell vAlign=top>

                  <TABLE border=0 cellPadding=0 cellSpacing=3
class=innersidebar>
                    <TBODY>
                    <TR>
                      <TD></TD>
                      <TD class=linkcell><A
                        href="<!-- INSERT_TEXT=tool_overview_link -->">
                        <b>Web Tool Overview</b></A>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        </TD></TR>
                    <TR>
                      <TD></TD>
                      <TD class=linkcell><A
                        href="<!-- INSERT_TEXT=users_guide_link -->">
                        <B>User's Guide</B></A></TD></TR>

               </TBODY></TABLE>
          </TD></TR></TBODY></TABLE>
</TD></TR></TBODY></TABLE>

<DIV class=documentinfo>&nbsp&nbsp Chico Digital Engineering<br>
&nbsp&nbsp&nbsp<a href="http://chicodigital.com">www.chicodigital.com</a><br>

</TD> <!-- end of left column -->

    <TD vAlign=top>
      <TABLE border=0 cellPadding=0 cellSpacing=2 width="100%">
        <TBODY>
        <TR>
          <TD align=left vAlign=top>
            <!-- table for black borders -->
            <TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
              <TBODY>
              <TR>
                <TD align=left class=bordercell><!-- table for white cells -->
                  <TABLE border=0 cellPadding=4 cellSpacing=4 width="100%">
                    <TBODY>
                    <TR>
                      <TD class=titlecell>
                        <TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
                          <TBODY>
                          <TR>
                            <TD><B>Text On This Page</B></TD>
                            <TD align=right>
                            <B>Page Template Selector: <!-- INSERT_TEXT=templateSelect --></B>
                            &nbsp&nbsp</TD></TR></TBODY></TABLE></TD></TR>
                    <TR>
                      <TD class=contentcell>
                      <!-- table for "content" cell with wide left/right margins -->
                        <TABLE border=0 cellPadding=1 cellSpacing=0 width="100%" >
                          <TBODY>
                          <TR>
                            <TD align=left colspan=3>

                              <!-- The tag below marks where the program will -->
                              <!-- add in the text box. -->

                                   <!-- INSERT_TEXT=textEditBox -->

                              </TD>

                 </TR>
                 <TR><TD>

                    <input type="submit" name="submit" value="Save and Preview Page">

                 </TD><TD>

                    <input type="submit" name="submit" value="Delete Page">

                 </TD><TD>

                    <input type="submit" name="submit" value="End Session">

                 </TD>
                 </TR>
                 </TBODY>
                 </TABLE>
          </TD>
          </TR>
          </TBODY>
          </TABLE>
     </TD>
     </TR>
     </TBODY>
     </TABLE>
</TR>
<TR><TD>&nbsp<br></TD></TR>
<TR><TD>
<!-- INSERT_TEXT=tool_logo -->
</TD>
</TR>
</TBODY>
</TABLE>

</TD>
</TR>
</TBODY></TABLE>
</FORM>
</BODY></HTML>
