<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML><HEAD><TITLE><!-- INSERT_TEXT=title --></TITLE>

<META http-equiv=Content-Type content="text/html; charset=windows-1252">

</HEAD>

<BODY bgColor=#ffffff>
<CENTER>
<TABLE cellSpacing=0 cellPadding=0 width=680 border=0>
  <TBODY>
  <TR>
    <TD>
      <TABLE width="100%" border=0>
        <TBODY>
        <TR>
          <TD width="1%">Add a logo here
          </TD>
          <TD vAlign=bottom align=right><FONT face=Arial size=-1>

          Here is a place for more links

          </FONT>
            <HR noShade SIZE=1>
          </TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD height=8></TD></TR>
  <TR align=left bgColor=#a0b8c8>
    <TD>
      <TABLE cellSpacing=0 cellPadding=4 width="100%" border=0>
        <TBODY>
        <TR>
          <TD><B><FONT face=Arial size=+1>&nbsp;

          <!-- INSERT_TEXT=directory_path -->

          </FONT></B></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD height=8></TD></TR>
  <TR>
    <TD>
      <TABLE cellSpacing=1 cellPadding=0 width=675 border=0>
        <TBODY>
        <TR>
          <TD vAlign=top width="1%" bgColor=#eeeeee>
            <TABLE cellSpacing=0 cellPadding=1 width=175 border=0>
              <TBODY>
              <TR align=left bgColor=#a0b8c8 nowrap>
                <TD colSpan=2>
                <table><tr><td width="10%"></td><td width="80%">
                <B><FONT face=Arial>&nbsp;&nbsp;

               Sub-Category

                </FONT></B>
                </td><td width="10%"></td></tr></table>

              </TD></TR>
              <TR>
                <TD vAlign=center>
                <br>
                <table><tr><td width="10%"></td><td width="80%">

                <!-- INSERT_TEXT=link_list -->

                </td><td width="10%"></td></tr></table>
                <br>
                </TD>
                <TD>&nbsp</TD>
              </TR>
              <TR>
                <TD colSpan=2>&nbsp;</TD></TR></TBODY></TABLE></TD>
          <TD vAlign=top width=1>&nbsp;</TD>
          <TD vAlign=top width="90%">


          <!-- INSERT_TEXT=content_string -->

          </TD>
          <TD vAlign=top>
          </TD>
          </TR>
          </TABLE>
     </TR>
     </TD>
     </TABLE>

<TABLE cellSpacing=0 cellPadding=0 width=675 border=0>
  <TBODY>
  <TR>
    <TD align=middle>
      <HR noShade SIZE=1>
      <FONT face=arial size=-2>Copyright © 2002 Your Organization. All rights
      reserved.<BR><A href="http://yourSite.com/">Terms of Use</A> &nbsp <A
      href="http://yourSite.com/contact.html">Contact</A>
  </FONT></TD></TR></TBODY></TABLE></CENTER>
  </BODY>
  </HTML>
