<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
     <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
     <title>Web Tool Demo : <!-- INSERT_TEXT=title --></title>
     <LINK href="<!-- INSERT_TEXT=style_sheet -->" rel=stylesheet>
</HEAD>
<BODY bgcolor="#FFFFFC">
<CENTER>
<TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
<TBODY>
<TR>
     <TD WIDTH=10>&nbsp</TD>
     <TD colspan="4" align=center class=bannercell vAlign=top>
     <!-- INSERT_TEXT=main_category -->
     </TD>
     <TD WIDTH=10>&nbsp</TD>
</TR>
<TR>
     <TD WIDTH=10>&nbsp</TD>
     <TD class=titlecell colspan="4"><B><FONT size="+2">
     <!-- INSERT_TEXT=directory_path -->
     </font></B>
     </TD>
     <TD WIDTH=10>&nbsp</TD>
</TR>

<TR>
<TD WIDTH="5%">&nbsp</TD>
<TD VALIGN=TOP ALIGN=LEFT WIDTH="20%">

     <TABLE width="100%"><TD>
     <TR VALIGN=TOP>
     <TD><!-- INSERT_TEXT=link_list --> </TD>

     </TR>
     <TR VALIGN=CENTER><TD><HR></TD></TR>
     <TR VALIGN=BOTTOM><TD valign=bottom>

     <br>
     <li><a href="http://yourSite.com">Your Home</a></li>
     <li><a href="http://yourSite.com/sitemap.html">Your Site Map</a></li>
     <li><a href="http://yourSite.com/another.html">Another Static Link</a></li>
     <br>
     </TD></TR>
     </TD></TABLE>
</TD>
<TD WIDTH="3" bgcolor="silver" >&nbsp;</td>
<TD WIDTH="7">&nbsp;</TD>
<TD WIDTH="70%" align=left VALIGN=TOP>

<p>
<!-- The tag below marks where the program will add in the text box. -->
<!-- INSERT_TEXT=content_string -->

</p>
</TD><TD WIDTH="5%">&nbsp</TD>
</TR>

<TR>
<TD WIDTH="5%">&nbsp</TD>
<TD VALIGN=bottom Align=left colspan=4 VALIGN=BOTTOM>
<br>
<small>Copyright 2002 your organization<br>
contact:
 <i><a href="mailto:comments@yourSite.com">comments@yourSite.com</a></i></small>
</TD>
<TD WIDTH="5%">&nbsp</TD>
</TR>

<TR><TD ALIGN=RIGHT COLSPAN="5"><hr><p></TD></TR>

</TBODY>
</TABLE>
</CENTER>
</BODY>
</HTML>
